

<div class="form-horizontal">
  <%= form_for @movie do |f| %>

  <%= f.label :title, "Movie Title:" %>
  <%= f.text_field :title, :class=>"form-control" %>
<p>
  <%= f.label :storyline, "Story Line" %>
  <%= f.text_field :storyline, :class=>"form-control" %>
<p>
  <%= f.label :release_date, "Release Date" %>
  <%= f.text_field :release_date, :class=>"form-control" %>
<p>
  <%= f.label :genres, "Genres" %>
  <%= f.text_field :genres, :class=>"form-control" %>
<p>
  <%= f.label :link, "IMDb Link" %>
  <%= f.text_field :link, :class=>"form-control" %>
<p>

<%= f.submit "Update", :class =>"btn btn-primary"%>




<%= f.submit "Delete", url: movie_path, method: :delete, :class =>"btn btn-danger"%>
<% end %>
</div>
