<div class="inner cover jumbotron" style="margin-bottom:0px; background-color: #FF7F50; color: white; height: 120px; text-align:center; margin-top: 20px;font-weight: bold;">
  <h1 class="cover-heading"></h1>
  <p class="lead">
    <span class='element'></span>
  </p>

</div>

<div class="searchBox">
  <div class="form-inline">
  <%= form_tag(movies_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Movies",  :class=>"form-control"%>

  <%= button_tag(type: 'submit', :class=>"btn btn-primary", :id=>"searchButton") do %>
    <span class="glyphicon glyphicon-search"></span>
  <% end %>
  <% end %>
</div>
</div>

<div class="container">
  <% if @movies.empty? %>
    <h3> No Results </h3>
    <h3>Here are some of the latest movies </h3>
    <div class="row display-flex well">
      <% @suggested.each do |movie| %>
        <div class="col-xs-6 col-md-4 movieTitleContainer">
          <h3> <%= movie.title %> </h3>
            <%= link_to (image_tag(movie.image_url, :alt=>"Movie Poster", :class=>"movieImage")), movie_path(movie) %>
        </div>
      <% end  %>
      <% end %>


    <% @movies.each do |movie| %>
      <div class="col-xs-6 col-md-4 movieTitleContainer">
        <h3><%= link_to movie.title, movie_path(movie) %></h3>
            <%= link_to (image_tag(movie.image_url, :alt=>"Movie Poster", :class=>"movieImage")), movie_path(movie) %>
      </div>
    <% end %>
    </div>
</div>
