<!-- <div class="searchBox">
  <%= form_tag(movies_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Movies",  :class=>"form-control" %>
  <%= submit_tag "Search", :class=>"btn btn-primary" %>
  <% end %>
</div> -->


<div class="searchBox">
  <%= form_tag(movies_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Movies",  :class=>"form-control" %>

  <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
    <span class="glyphicon glyphicon-search"></span>
    <% end %>
    <% end %>
</div>


  <div class="row-eq-height">
     <% @movies.each do |movie| %>
     <div class="col-sm-6 col-md-4">

             <h3><%= link_to movie.title, edit_movie_path(movie) %></h4>

          <div class="movieDetails">
                 <p><%= movie.storyline %></p>
                 <p>Release Date: <%= movie.release_date.strftime("%m/%d/%Y")%></p>
                 <p>Genres: <%= movie.genres %></p>
                 <p><%= link_to "IMDb", movie.link, target: :_blank %></p>

         </div>
    </div>

     <% end %>

 </div>
