<h4 class="backLink"><%= link_to "< Back", movies_path %></h4>
<h4 class="addMovie"> Add Movie </h4>


<div class="forms">
  <div class="form-horizontal">
    <%= form_for @movie do |f| %>
      <p>
      <%= f.label :title, "Movie Title" %>
      <%= f.text_field :title, :class=>"form-control", :placeholder => "Required", :required => true %>
      <p>
      <%= f.label :storyline, "Story Line" %>
      <%= f.text_area :storyline, size: "10x5", :class=>"form-control", :placeholder => "Required", :required => true  %>
      <p>
      <%= f.label :release_date, "Release Date" %>
      <%= f.date_select :release_date, {start_year: Date.today.year - 45, end_year: Date.today.year + 5, :include_blank => true,:default => nil}, :required => true  %>
      <p>
      <%= f.label :genres, "Genres" %>
      <%= f.text_field :genres, :class=>"form-control", :placeholder => "Required", :required => true  %>
      <p>
      <%= f.label :movie_url, "IMDb Link" %>
      <%= f.text_field :movie_url, :class=>"form-control", :placeholder => "Required", :required => true  %>
      <p>

        <%= f.label :image_url, "Image Link" %>
        <%= f.text_field :image_url, :class=>"form-control", :placeholder => "Required", :required => true %>
        <p>
      <br>

      <%= f.submit "Create", :class =>"btn btn-primary"%>

    <% end %>
  </div>
</div>
